:root{
    --text: #252525;
    --black: #1b1b1b;
    --gray: #eaeaea;
    --white: #f5f3f3;
    --main: #1a7d5c;
    --main2: #e3efeb;
    --link: #235fd6;
}
body{
    line-height: 1.7;
    font: 16px;
    font-family: 'Noto Sans JP', 'sans-serif';
    color: var(--text);
    background: var(--gray);
}
main{
    background: var(--white);
    width: 700px;
    padding: 20px;
    margin: 30px auto;
    text-align: center;
    border-radius: 40px 3px;
    border: 2px solid var(--main);
}
footer{
    background: var(--black);
    color: var(--gray);
    text-align: center;
    padding-bottom: 10px;
}

/*細かい設定*/
h1,h2{
    border-bottom: 2px solid var(--main);
    margin-bottom: 10px;
}
ul {
  padding: 0 20%;
  position: relative;
}
ul li{
  border: solid var(--main);
  border-width: 0 0 0 7px;
  background: var(--main2);
  margin-bottom: 3px;
   line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;
}
img{
    max-width: 100%;
    height: auto;
    text-align: center;
    border-radius: 5%;
}
a{color: var(--link)}
svg {
    display: inline-block;
    margin: 0 2%;
    fill: var(--text);
  }
.icon{
    text-decoration: none;
}
/*整える*/
.blank{margin: 20px 0;}

@media screen and (max-width:750px) {
    main{width: calc(100% - 5px);}
    ul{padding: 0;}
}